.cardStyle {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .lineStyle {
      width: 50%;
      border-bottom: 1px solid #ddd;
    }
  
  }

  .cardStyle:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Apply a different box-shadow on hover */
  }