.cardDescriptionStyle{
    width: 70%;
    border: 2px solid red;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageStyle {
    width: 300px;
    height: 300px;
}